  /* General Styles */
body{
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  /* align-items: center; */
  width: 80%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  background-color: white;
}

.left-section{
flex: 1;
background-color: #0a0740;
display: flex;
align-items: center ;
justify-content: center;
position: relative;
padding: 10px;
clip-path: circle(75% at 0% 30%);
/* -webkit-clip-path: circle(75% at 100% 50%); */
}

.left-section img{
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
  object-fit: cover;
  background-color: white;

}

.right-section{
  flex: 1;
  padding: 40px;
}
input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}
    
.btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #e60000;
}
.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-login a {
  margin : 25px;
  text-decoration: none;
  /* color: black; */
}

.social-login a img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.hidden{
  display: none;
}

@media (max-width : 800px){
  .container{
    flex-direction: column-reverse;
  }
  .left-section{
    flex: 1;
    background-color: #0a0740;
    display: flex;
    align-items: center ;
    justify-content: center;
    position: relative;
    padding: 10px;
    /* clip-path: circle(75% at 0% 30%); */
    /* -webkit-clip-path: circle(75% at 100% 50%); */
    }
    
.left-section img{
  width: 80%;
  max-width: 400px;
  /* border-radius: 20px; */
  object-fit: cover;
  background-color: white;

}
    
    
}